body{
    background-color: bisque;
    margin: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}

header>img {
    width: 50%;
}
nav{
    background-color: grey;
}

nav img {
    height: 50px;
}
main p{

}
/* comentário em css */
#texto1 {
    background-color: #d9c8aa; 
    color: white;
}

.texto2 {
    background-color: blue; 
    color: white;
}
